[submodule "libs/ihs/libAppFramework"]
	path = libs/ihs/libAppFramework
	url = http://git.ihandysoft.com/bingroup/bin_appframework_android.git
[submodule "libs/ihs/libInterstitialAds"]
	path = libs/ihs/libInterstitialAds
	url = http://git.ihandysoft.com/bingroup/bin_interstitialads_android.git
[submodule "libs/ihs/libCharging"]
	path = libs/ihs/libCharging
	url = http://git.ihandysoft.com/bingroup/bin_chargingscreen_android.git
[submodule "libs/libKeyboardCommons"]
	path = libs/libKeyboardCommons
	url = http://git.ihandysoft.com/bingroup/Bin_KeyboardCommons_Android.git
