<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ihs.keyboardutils">

    <uses-sdk tools:overrideLibrary="com.google.android.gms,com.facebook,com.facebook.shimmer" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.ihs.chargingscreen.activity.ChargingScreenActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="com.ihs.chargingScreen"
            android:theme="@style/custom_titlebar_with_transparent_bg" />


        <service
            android:name="com.ihs.chargingscreen.KeepAliveService"
            android:enabled="true" />

        <receiver android:name="com.ihs.chargingscreen.ChargingBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.ihs.chargingscreen.activity.DismissKeyguradActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="com.ihs.chargingScreen"
            android:theme="@style/custom_titlebar_with_transparent_bg"
            />
        <activity android:name="com.ihs.chargingscreen.activity.ChargingFullScreenAlertDialogActivity" android:theme="@style/Transparent">

        </activity>

        <receiver android:name=".notification.NotificationExecutionReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
