<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ihs.keyboardutils">

    <uses-sdk tools:overrideLibrary="com.google.android.gms,com.facebook,com.facebook.shimmer" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.ihs.chargingscreen.activity.ChargingScreenActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="com.ihs.chargingScreen"
            android:theme="@style/custom_titlebar_with_transparent_bg" />

        <activity
            android:name="com.ihs.chargingscreen.activity.ChargingScreenAlertActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="com.ihs.chargingscreen.activity.ChargingAlertHostActivity"
            android:theme="@style/ChargingScreenAlertActivityTheme" />


        <activity
            android:name="com.ihs.chargingscreen.activity.ChargingFullScreenAlertDialogActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity="com.ihs.chargingScreen.ChargingFullScreenAlertDialogActivity"
            android:theme="@style/LockerEnableDialogTheme" />

        <receiver android:name=".notification.NotificationExecutionReceiver" />

        <activity
            android:name="com.ihs.feature.boost.BoostActivity"
            android:excludeFromRecents="true"
            android:icon="@drawable/boost_icon"
            android:label="@string/launcher_widget_boost_title"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity=".boost"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>


        <receiver android:name="com.artw.lockscreen.common.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.artw.lockscreen.LockerSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeAppBarActivity.White" />

        <activity
            android:name="com.artw.lockscreen.LockerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity=".air_locker"
            android:theme="@style/ChargingScreenTransparentTheme" />

        <activity
            android:name="com.artw.lockscreen.PremiumLockerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity=".air_locker"
            android:theme="@style/ChargingScreenTransparentTheme" />

        <activity
            android:name="com.artw.lockscreen.PremiumLockerSearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize|adjustPan"
            android:theme="@style/ChargingScreenTransparentTheme" />

        <activity
            android:name="com.artw.lockscreen.BrowserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity=".key_search"
            android:theme="@style/ChargingScreenTransparentTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.keyboard.search" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.artw.lockscreen.DismissKeyguradActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity=".air_locker"
            android:theme="@style/ChargingScreenTransparentTheme" />

        <activity
            android:name="com.ihs.feature.boost.plus.BoostPlusActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity=".boost.plus"
            android:theme="@style/BoostPlusTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ihs.feature.battery.BatteryActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:taskAffinity=".battery"
            android:theme="@style/BatteryTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ihs.feature.resultpage.ResultPageActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:taskAffinity=".resultpage"
            android:theme="@style/ResultPageTheme" />

        <activity
            android:name="com.ihs.feature.battery.BatteryModeActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:taskAffinity=".battery"
            android:theme="@style/BatteryTheme" />
        <activity
            android:name="com.ihs.feature.battery.BatterySettingsActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:taskAffinity=".battery"
            android:theme="@style/BatteryTheme" />
        <activity
            android:name="com.ihs.feature.battery.BatteryRankingActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:taskAffinity=".battery"
            android:theme="@style/BatteryTheme" />

        <activity
            android:name="com.ihs.feature.softgame.GameActivity"
            android:label="@string/title_activity_game"
            android:process=":h5game"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.ihs.feature.softgame.GameStarterActivity"
            android:label="@string/title_activity_game"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.ihs.feature.softgame.SoftGameDisplayActivity"
            android:launchMode="singleTask"
            android:taskAffinity=".h5game"
            android:theme="@style/Theme.Design.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>


        <!-- JunkClean -->
        <activity
            android:name="com.ihs.feature.junkclean.JunkCleanActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity=".junk.clean"
            android:theme="@style/Theme" />
        <activity
            android:name="com.ihs.feature.junkclean.JunkCleanAnimationActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=".junk.clean"
            android:theme="@style/Theme" />
        <activity
            android:name="com.ihs.feature.junkclean.JunkCleanerSettingsActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=".junk.clean"
            android:theme="@style/Theme" />

        <!-- Cpu Cooler -->
        <activity
            android:name="com.ihs.feature.cpucooler.CpuCoolerScanActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity=".cpu.cooler"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ihs.feature.cpucooler.CpuCoolerCleanActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity=".cpu.cooler"
            android:theme="@style/Theme" />
        <activity
            android:name=".alerts.HeadSetActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/HeadsetActivityStyle"
            android:taskAffinity=".cpu.cooler"
            android:launchMode="singleTask"
            />
        <activity
            android:name="com.ihs.feature.cpucooler.CpuCoolDownActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:taskAffinity=".cpu.cooler"
            android:theme="@style/Theme" />

        <service
            android:name="com.launcher.LockScreenService"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="com.ihs.keyboard.LockScreenService"/>
            </intent-filter>
        </service>

        <!-- This service is used to bring main-process's life back. -->
        <service android:name="com.launcher.LockScreenStarterService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.ihs.keyboard.intent.action.INNER_ALIVE" />
            </intent-filter>
        </service>

        <service android:name="com.launcher.KeepAliveService" />

        <receiver android:name="com.ihs.feature.notification.NotificationReceiver"/>

        <provider
            android:name="com.artw.lockscreen.LockerContentProvider"
            android:authorities="${applicationId}.locker.provider"
            android:enabled="true"
            android:exported="true"/>

        <activity
            android:name=".appsuggestion.AppSuggestionActivity"
            android:taskAffinity=".appsuggestion"
            android:excludeFromRecents="true"
            android:theme="@style/ChargingScreenAlertActivityTheme"/>
    </application>

</manifest>