<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ihs.keyboardutilslib">

    <uses-sdk tools:overrideLibrary="com.google.android.gms,com.facebook" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="${applicationId}.permission.FRAMEWORK_SECURITY"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.FRAMEWORK_SECURITY" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:sharedUserId="android.uid.system"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gif.GifViewDemoActivity" />
        <activity android:name=".adactivities.AdDemoActivity" />
        <activity android:name=".alerts.CustomDesignAlertActivity" />
        <activity android:name=".CameraUtilActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="com.ihs.app.framework.inner.SessionProvider"
            android:authorities="${applicationId}.framework_session"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.ihs.app.framework.inner.PendingSessionEndReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="hs.app.session.PENDING_SESSION_END" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".charginglocker.ChargingLockerSettingsActivity"
            android:label="@string/title_activity_charging_locker_settings" />
        <activity android:name=".CountryCodeUtil" />

        <receiver android:name=".NotificationReceiver" />

        <activity
            android:name=".DemoShowBoostActivity"
            android:label="@string/title_activity_demo_show_boost"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>